<section id="quality" class="quality-section">
    <div class="container child">
        <div class="quality-intro">
            <p class="quality-section-name">Quality</p>
            <h2 class="quality-section-title">Why CoffeeJoy Stands Out from the Rest</h2>
            <p class="quality-descr">At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted
                with care by our skilled baristas.
                Our flexible subscription plans ensure that your coffee experience is tailored to your needs.</p>
        </div>
        <div class="quality-cards">
            <ul class="quality-list">
                <li></li>
            </ul>
        </div>
    </div>
</section>